# Name : Patel Jimil Mitesh
# Data Science (Sem-7)

In [1]:
# Importing libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Loading data
data = pd.read_csv("car-data.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [4]:
data.shape

(6019, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [6]:
data.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   3009.000000  2013.358199       5.873838e+04     5.278735     9.479468
std    1737.679967     3.269742       9.126884e+04     0.808840    11.187917
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1504.500000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3009.000000  2014.000000       5.300000e+04     5.000000     5.640000
75%    4513.500000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [7]:
data.duplicated().any()

False

In [8]:
# Handling NaN values with mean imputation for numerical data
data_numeric = data.select_dtypes(include=[np.number])
data_numeric = data_numeric.fillna(data_numeric.mean())

# Handling NaN values with mode imputation for categorical data
data_categorical = data.select_dtypes(include=[np.object_])
data_categorical = data_categorical.fillna(data_categorical.mode().iloc[0])

# Combining the numerical and categorical data
data = pd.concat([data_numeric, data_categorical], axis=1)

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['Name'] = label_encoder.fit_transform(data['Name'])
data['Location'] = label_encoder.fit_transform(data['Location'])
data['Fuel_Type'] = label_encoder.fit_transform(data['Fuel_Type'])
data['Transmission'] = label_encoder.fit_transform(data['Transmission'])
data['Owner_Type'] = label_encoder.fit_transform(data['Owner_Type'])
data['Power'] = label_encoder.fit_transform(data['Power'])
data['Engine'] = label_encoder.fit_transform(data['Engine'])
data['Mileage'] = label_encoder.fit_transform(data['Mileage'])
data['New_Price'] = label_encoder.fit_transform(data['New_Price'])

In [10]:
x = data.drop(columns = ['Price','Unnamed: 0'], axis = 1)

In [11]:
y = data['Price']

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [13]:
x_train.shape

(4815, 12)

In [14]:
x_test.shape

(1204, 12)

In [15]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
model = Sequential()
model.add(Dense(20, activation = 'relu', input_shape = (12,)))
model.add(Dense(14, activation = 'relu'))
model.add(Dense(1, activation = 'relu'))

In [17]:
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['MAE'])

In [18]:
early_stopping = EarlyStopping(monitor = 'MAE', patience = 3)

In [19]:
model.fit(x_train, y_train,epochs = 80, validation_split = 0.2, callbacks = [early_stopping])

Epoch 1/80
121/121 [==============================] - 1s 3ms/step - loss: 7.5197 - MAE: 7.5197 - val_loss: 5.7242 - val_MAE: 5.7242
Epoch 2/80
121/121 [==============================] - 0s 3ms/step - loss: 4.8065 - MAE: 4.8065 - val_loss: 4.0245 - val_MAE: 4.0245
Epoch 3/80
121/121 [==============================] - 0s 3ms/step - loss: 3.8105 - MAE: 3.8105 - val_loss: 3.5357 - val_MAE: 3.5357
Epoch 4/80
121/121 [==============================] - 0s 4ms/step - loss: 3.4878 - MAE: 3.4878 - val_loss: 3.3309 - val_MAE: 3.3309
Epoch 5/80
121/121 [==============================] - 0s 4ms/step - loss: 3.3290 - MAE: 3.3290 - val_loss: 3.2193 - val_MAE: 3.2193
Epoch 6/80
121/121 [==============================] - 0s 4ms/step - loss: 3.2369 - MAE: 3.2369 - val_loss: 3.1376 - val_MAE: 3.1376
Epoch 7/80
121/121 [==============================] - 0s 4ms/step - loss: 3.1679 - MAE: 3.1679 - val_loss: 3.0809 - val_MAE: 3.0809
Epoch 8/80
121/121 [==============================] - 0s 4ms/step - loss: 3.1044 - MAE: 3.1044 - val_loss: 3.0179 - val_MAE: 3.0179
Epoch 9/80
121/121 [==============================] - 0s 4ms/step - loss: 3.0511 - MAE: 3.0511 - val_loss: 2.9613 - val_MAE: 2.9613
Epoch 10/80
121/121 [==============================] - 0s 4ms/step - loss: 2.9995 - MAE: 2.9995 - val_loss: 2.9198 - val_MAE: 2.9198
Epoch 11/80
121/121 [==============================] - 0s 4ms/step - loss: 2.9591 - MAE: 2.9591 - val_loss: 2.8551 - val_MAE: 2.8551
Epoch 12/80
121/121 [==============================] - 0s 3ms/step - loss: 2.9054 - MAE: 2.9054 - val_loss: 2.8021 - val_MAE: 2.8021
Epoch 13/80
121/121 [==============================] - 0s 3ms/step - loss: 2.8558 - MAE: 2.8558 - val_loss: 2.7656 - val_MAE: 2.7656
Epoch 14/80
121/121 [==============================] - 0s 4ms/step - loss: 2.8032 - MAE: 2.8032 - val_loss: 2.7127 - val_MAE: 2.7127
Epoch 15/80
121/121 [==============================] - 0s 4ms/step - loss: 2.7486 - MAE: 2.7486 - val_loss: 2.6706 - val_MAE: 2.6706
Epoch 16/80
121/121 [==============================] - 0s 4ms/step - loss: 2.7018 - MAE: 2.7018 - val_loss: 2.6017 - val_MAE: 2.6017
Epoch 17/80
121/121 [==============================] - 0s 4ms/step - loss: 2.6512 - MAE: 2.6512 - val_loss: 2.5852 - val_MAE: 2.5852
Epoch 18/80
121/121 [==============================] - 0s 4ms/step - loss: 2.6030 - MAE: 2.6030 - val_loss: 2.5194 - val_MAE: 2.5194
Epoch 19/80
121/121 [==============================] - 0s 4ms/step - loss: 2.5625 - MAE: 2.5625 - val_loss: 2.5139 - val_MAE: 2.5139
Epoch 20/80
121/121 [==============================] - 0s 4ms/step - loss: 2.5318 - MAE: 2.5318 - val_loss: 2.4437 - val_MAE: 2.4437
Epoch 21/80
121/121 [==============================] - 0s 4ms/step - loss: 2.4928 - MAE: 2.4928 - val_loss: 2.4062 - val_MAE: 2.4062
Epoch 22/80
121/121 [==============================] - 0s 4ms/step - loss: 2.4605 - MAE: 2.4605 - val_loss: 2.4024 - val_MAE: 2.4024
Epoch 23/80
121/121 [==============================] - 0s 4ms/step - loss: 2.4307 - MAE: 2.4307 - val_loss: 2.3460 - val_MAE: 2.3460
Epoch 24/80
121/121 [==============================] - 0s 4ms/step - loss: 2.3980 - MAE: 2.3980 - val_loss: 2.3112 - val_MAE: 2.3112
Epoch 25/80
121/121 [==============================] - 0s 4ms/step - loss: 2.3745 - MAE: 2.3745 - val_loss: 2.3166 - val_MAE: 2.3166
Epoch 26/80
121/121 [==============================] - 0s 3ms/step - loss: 2.3472 - MAE: 2.3472 - val_loss: 2.2720 - val_MAE: 2.2720
Epoch 27/80
121/121 [==============================] - 0s 4ms/step - loss: 2.3249 - MAE: 2.3249 - val_loss: 2.2724 - val_MAE: 2.2724
Epoch 28/80
121/121 [==============================] - 0s 4ms/step - loss: 2.3017 - MAE: 2.3017 - val_loss: 2.2347 - val_MAE: 2.2347
Epoch 29/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2849 - MAE: 2.2849 - val_loss: 2.2294 - val_MAE: 2.2294
Epoch 30/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2606 - MAE: 2.2606 - val_loss: 2.1895 - val_MAE: 2.1895
Epoch 31/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2493 - MAE: 2.2493 - val_loss: 2.1983 - val_MAE: 2.1983
Epoch 32/80
121/121 [==============================] - 0s 4ms/step - loss: 2.2362 - MAE: 2.2362 - val_loss: 2.1583 - val_MAE: 2.1583
Epoch 33/80
121/121 [==============================] - 0s 4ms/step - loss: 2.2211 - MAE: 2.2211 - val_loss: 2.1734 - val_MAE: 2.1734
Epoch 34/80
121/121 [==============================] - 0s 4ms/step - loss: 2.2046 - MAE: 2.2046 - val_loss: 2.1270 - val_MAE: 2.1270
Epoch 35/80
121/121 [==============================] - 0s 3ms/step - loss: 2.2000 - MAE: 2.2000 - val_loss: 2.1334 - val_MAE: 2.1334
Epoch 36/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1836 - MAE: 2.1836 - val_loss: 2.1246 - val_MAE: 2.1246
Epoch 37/80
121/121 [==============================] - 0s 4ms/step - loss: 2.1711 - MAE: 2.1711 - val_loss: 2.1127 - val_MAE: 2.1127
Epoch 38/80
121/121 [==============================] - 0s 4ms/step - loss: 2.1669 - MAE: 2.1669 - val_loss: 2.1016 - val_MAE: 2.1016
Epoch 39/80
121/121 [==============================] - 0s 4ms/step - loss: 2.1488 - MAE: 2.1488 - val_loss: 2.0865 - val_MAE: 2.0865
Epoch 40/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1436 - MAE: 2.1436 - val_loss: 2.0764 - val_MAE: 2.0764
Epoch 41/80
121/121 [==============================] - 0s 4ms/step - loss: 2.1315 - MAE: 2.1315 - val_loss: 2.0956 - val_MAE: 2.0956
Epoch 42/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1231 - MAE: 2.1231 - val_loss: 2.0750 - val_MAE: 2.0750
Epoch 43/80
121/121 [==============================] - 0s 3ms/step - loss: 2.1109 - MAE: 2.1109 - val_loss: 2.0792 - val_MAE: 2.0792
Epoch 44/80
121/121 [==============================] - 0s 4ms/step - loss: 2.1058 - MAE: 2.1058 - val_loss: 2.0446 - val_MAE: 2.0446
Epoch 45/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0937 - MAE: 2.0937 - val_loss: 2.0322 - val_MAE: 2.0322
Epoch 46/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0864 - MAE: 2.0864 - val_loss: 2.0287 - val_MAE: 2.0287
Epoch 47/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0756 - MAE: 2.0756 - val_loss: 2.0322 - val_MAE: 2.0322
Epoch 48/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0739 - MAE: 2.0739 - val_loss: 2.0776 - val_MAE: 2.0776
Epoch 49/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0643 - MAE: 2.0643 - val_loss: 2.0222 - val_MAE: 2.0222
Epoch 50/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0588 - MAE: 2.0588 - val_loss: 2.0224 - val_MAE: 2.0224
Epoch 51/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0517 - MAE: 2.0517 - val_loss: 2.0174 - val_MAE: 2.0174
Epoch 52/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0504 - MAE: 2.0504 - val_loss: 2.0494 - val_MAE: 2.0494
Epoch 53/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0398 - MAE: 2.0398 - val_loss: 1.9975 - val_MAE: 1.9975
Epoch 54/80
121/121 [==============================] - 0s 4ms/step - loss: 2.0365 - MAE: 2.0365 - val_loss: 1.9923 - val_MAE: 1.9923
Epoch 55/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0235 - MAE: 2.0235 - val_loss: 1.9989 - val_MAE: 1.9989
Epoch 56/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0107 - MAE: 2.0107 - val_loss: 1.9888 - val_MAE: 1.9888
Epoch 57/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0108 - MAE: 2.0108 - val_loss: 1.9858 - val_MAE: 1.9858
Epoch 58/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0084 - MAE: 2.0084 - val_loss: 1.9792 - val_MAE: 1.9792
Epoch 59/80
121/121 [==============================] - 0s 3ms/step - loss: 2.0037 - MAE: 2.0037 - val_loss: 1.9918 - val_MAE: 1.9918
Epoch 60/80
121/121 [==============================] - 0s 4ms/step - loss: 1.9973 - MAE: 1.9973 - val_loss: 1.9842 - val_MAE: 1.9842
Epoch 61/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9909 - MAE: 1.9909 - val_loss: 2.0036 - val_MAE: 2.0036
Epoch 62/80

121/121 [==============================] - 0s 3ms/step - loss: 1.9864 - MAE: 1.9864 - val_loss: 1.9858 - val_MAE: 1.9858
Epoch 63/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9846 - MAE: 1.9846 - val_loss: 1.9788 - val_MAE: 1.9788
Epoch 64/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9770 - MAE: 1.9770 - val_loss: 1.9829 - val_MAE: 1.9829
Epoch 65/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9719 - MAE: 1.9719 - val_loss: 1.9765 - val_MAE: 1.9765
Epoch 66/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9577 - MAE: 1.9577 - val_loss: 1.9601 - val_MAE: 1.9601
Epoch 67/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9579 - MAE: 1.9579 - val_loss: 1.9680 - val_MAE: 1.9680
Epoch 68/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9570 - MAE: 1.9570 - val_loss: 1.9533 - val_MAE: 1.9533
Epoch 69/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9554 - MAE: 1.9554 - val_loss: 1.9660 - val_MAE: 1.9660
Epoch 70/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9535 - MAE: 1.9535 - val_loss: 1.9538 - val_MAE: 1.9538
Epoch 71/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9417 - MAE: 1.9417 - val_loss: 1.9771 - val_MAE: 1.9771
Epoch 72/80
121/121 [==============================] - 0s 4ms/step - loss: 1.9324 - MAE: 1.9324 - val_loss: 1.9439 - val_MAE: 1.9439
Epoch 73/80
121/121 [==============================] - 0s 4ms/step - loss: 1.9429 - MAE: 1.9429 - val_loss: 1.9604 - val_MAE: 1.9604
Epoch 74/80
121/121 [==============================] - 0s 3ms/step - loss: 1.9348 - MAE: 1.9348 - val_loss: 1.9594 - val_MAE: 1.9594
Epoch 75/80
121/121 [==============================] - 0s 4ms/step - loss: 1.9368 - MAE: 1.9368 - val_loss: 1.9581 - val_MAE: 1.9581

In [20]:
test_loss, test_mae = model.evaluate(x_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

38/38 [==============================] - 0s 2ms/step - loss: 2.0615 - MAE: 2.0615
Test Loss: 2.061499834060669, Test MAE: 2.061499834060669

In [21]:
y_pred = model.predict(x_test)
y_pred = np.argmax(y_pred, axis = 1)

38/38 [==============================] - 0s 2ms/step